header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   // position: sticky;
   // top: 0;
    background: white;
}

.bar-left {
    margin-left: 2%;
    display: flex;
    line-height: 1em;
    font-size: 24px;
}

.logo {
    font-size: 20px;
    margin-left: 3px;
}

.search-block {
    display: flex;
    width: 50%;
    .select {
        width: 250px;
    }
}

.field-search {
    width: 100%;
    border-right-style: none;
}

.bar-right {
    width: 15%;
    min-width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    margin-right: 2%;
    font-size: 20px;

    b {
        padding: 0 5px;
    }

    .basket {
        margin-right: 2%;
    }

    .login {
        display: inline;
        font-size: 16px;
    }
}
