<header>
    <div class="bar-left">
      <a href="#">
        <i class="iconify" data-icon="zmdi:menu" data-inline="false"></i>
      </a>
      <div class="logo">Logo</div>
    </div>

    <div class="search-block">

      <input class="field-search" id="#searchByName" type="search" placeholder="Search by item name" value="">
      <select class="select">
        <option selected value="">Tags</option>
        <option>tag_77</option>
        <option>tag_77</option>
      </select>

    </div>

    <div class="bar-right">
      <div class="wish-list">
        <a href="#">
          <i class="iconify" data-icon="mdi:cards-heart" data-inline="false"></i>
        </a>
      </div>
      <div class="basket">
        <a href="checkout.html">
          <i class="iconify" data-icon="mdi:cart" data-inline="false"></i>
        </a>
      </div>
      <div class="login">
        <a [routerLink]="['auth/login']">Login</a>
        <b>|</b>
        <a [routerLink]="['auth/register']">Sign Up</a>
      </div>
    </div>
  </header>
