<header>
  <div class="bar-left">
    <button class="menu" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="certificate">
        <mat-icon>card_giftcard</mat-icon>
        Certificates
      </button>
      <button mat-menu-item [matMenuTriggerFor]="tag" *ngIf="auth.isAuth()">
        <mat-icon> local_offer</mat-icon>
        Tags
      </button>
      <button mat-menu-item [matMenuTriggerFor]="order" *ngIf="auth.isAuth()">
        <mat-icon> local_mall</mat-icon>
        Orders
      </button>
      <button mat-menu-item [matMenuTriggerFor]="user" *ngIf="auth.isAdmin()">
        <mat-icon>people</mat-icon>
        Users
      </button>
    </mat-menu>
    <mat-menu #certificate="matMenu">
      <button mat-menu-item [routerLink]="['/certificates']">Show all</button>
      <button mat-menu-item *ngIf="auth.isAdmin()" [routerLink]="['/certificates/add']">Create new</button>
    </mat-menu>
    <mat-menu #tag="matMenu">
      <button mat-menu-item [routerLink]="['/tags']">Show all</button>
      <button mat-menu-item *ngIf="auth.isAdmin()" [routerLink]="['/tags/add']">Create new</button>
    </mat-menu>
    <mat-menu #order="matMenu">
      <button mat-menu-item [routerLink]="['/orders']">Show all</button>
      <button mat-menu-item [routerLink]="['orders/checkout']">See cart</button>
    </mat-menu>
    <mat-menu #user="matMenu">
      <button mat-menu-item [routerLink]="['/users']">Show all</button>
    </mat-menu>

    <div class="logo">
      <a [routerLink]="['/']">
        <img src="assets\xbox.png">
      </a>
    </div>
  </div>

  <div class="search-block" *ngIf="containsSearchig()">
    <input formControlName="searchByName" class="field-search" id="#searchByName" type="search"
      placeholder="Search by item name" value="">
    <select class="select" placeholder="Select tag" *ngIf="auth.isAuth()">
      <option value="">Select tag</option>
      <option *ngFor="let tag of tags" [value]="tag.name"> {{tag.name}} </option>
    </select>
  </div>

  <div class=" bar-right" *ngIf="auth.isAuth(); else notAuth">
    <button mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button [routerLink]="['orders/checkout']">
      <mat-icon matBadge={{amountItemFromCart}} matBadgeColor="primary">shopping_cart</mat-icon>
      <span class="cdk-visually-hidden">
        Example with a home icon with overlaid badge showing the number 15
      </span>
    </button>
    <div class="login">
      <a mat-button class="userName">{{auth.getUserName()}}</a>
      <p>|</p>
      <a mat-button href="#" (click)="logout($event)">LogOut</a>
    </div>
  </div>

  <ng-template #notAuth>
    <div class="bar-right">
      <div class="login">
        <a mat-button [routerLink]="['auth/login']">Login</a>
        <p>|</p>
        <a mat-button [routerLink]="['auth/registration']">Sign Up</a>
      </div>
    </div>
  </ng-template>
</header>
