$color-main: rgb(194, 194, 194);


.img-icon {
  text-align: center;
}

.title-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 70px;
  background-color: grey;
  color: white;

  .title {
    font-size: 20px;
    padding-left: 75px;
  }
}

.form-group {
  width: 100%;

  label {
    font-size: 12px;
    margin-left: 10px;
  }
}

$width-default:330px;

.form-input,
.form-group .select {
  display: block;
  width: $width-default;
  margin: 8px 10px 10px;
}

%position-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%format-button {
  @extend %position-center;
  display: inline-flex;
  margin: 25px 0;
  width: 100%;
}

%button-base {
  width: 155px;
  display: inline-block;
  padding: 6px 35px;
  margin: 10px;
  text-decoration: none;
  font-size: 12pt;
  font-family: inherit;
  cursor: pointer;
  outline: none;
  border: 1px solid;
}

%btn-grey {
  @extend %button-base;
  border-color: #e9e9e9;
  color: grey;
  background-color: white;
}

%btn-green {
  @extend %button-base;
  border-color: #67c78f;
  color: white;
  background-color: #6fcf97;
}

%btn-grey:hover {
  background: #e6e6ff;
}

%btn-grey:active {
  background: #a1a1aa;
  color: rgb(54, 52, 52);
}

%btn-green:hover {
  background: #3a925f;
}

%btn-green:active {
  background: #2b7a4c;
}


.content {
  @extend %position-center;
  display: block;
  min-height: calc(100vh - 120px);
  flex: 1 0 auto;
  border: none;
  background-color: #f2f2f2;
  overflow: hidden;
}

.window-creator-certificate {
  @extend %position-center;
  width: 100%;
  height: 100%;
  display: inline-block;
  margin: auto;
  background-color: white;
}

.form-creator {
  position: relative;
  width: 800px;
  margin: 30px auto 10px;

  .field-input {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
}

.field-input-left,
.field-input-right {
  margin: 0 auto;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  margin: 0 25px;
}

.btn-back {
  @extend %btn-grey;
}

.btn-save {
  @extend %btn-green;
}
