<div class="window-creator-tag" *ngIf="tag">
  <div class="title-form">
    <div class="title">Edit tag</div>
  </div>
  <div class="creator-form">
    <form class="form-creator" [formGroup]="form" (ngSubmit)="openDialog()">
      <div class="field-input">
        <div class="field-input-left">
          <div class="form-group">
            <label>Name</label>
            <input class="form-input" type="text" formControlName="name" />
          </div>
          <div class="form-group">
            <label>Type</label>
            <select class="select" formControlName="type">
              <option selected value="FOOD">Food</option>
              <option value="ENTERTAINMENT">Entertaiment</option>
              <option value="SERVICE">Service</option>
            </select>
          </div>
          <div class="form-group">
            <label>Price</label>
            <input class="form-input" type="number" formControlName="price" />
          </div>
        </div>
      </div>
      <div class="button-group">
        <button class="btn-back" mat-raised-button [routerLink]="['../']">Back</button>
        <button class="btn-save" mat-raised-button color="warn">Save</button>
      </div>
    </form>
  </div>
</div>
