$color-main: rgb(194, 194, 194);

%position-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  @extend %position-center;
  display: block;
  min-height: calc(100vh - 120px);
  flex: 1 0 auto;
  border: none;
  background-color: #f2f2f2;
  overflow: hidden;
}
