:host ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #3a925f;
}

.center {
  position: absolute;
  top: 30%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
