  <div class="container-wrapper">
    <div class="details">
      <div class="info-left-box">
        <div class="img"></div>
        <div class="description">
          <div class="title">
            <h2>Item Detailed Description</h2>
          </div>
          <div class="text-description">
            <p>Text text text text text text texttext text text text text text
              text text text text text text
              texText text text text text text texttext text text text text text
              text text text text text text
              texText text text text text text texttext text text text text text
              text text text text text text
              texText text text text text text texttext text text text text text
              text text text text text text
              texText text text text text text texttext text text text text text
              text text text text text text
              texText text text text text text texttext text text text text text
              text text text text text text
              texText text text text text text texttext text text text text text
              text text text text text text
              texText text text text text text texttext text text text text text
              text text text text text text
              text text text text text texttext text text text text text</p>
          </div>
        </div>
      </div>

      <div class="info-right-box">
        <div class="user-box">
          <div class="item-name">
            <h2>Name</h2>
          </div>

          <div class="tag-name">tag name, tag name</div>

          <div class="duration">
            <h3>Duration:</h3>
            1 month
          </div>

          <div class="bottom-row">
            <div class="price">
              <h2> $ 235 </h2>
            </div>
            <div class="link">
              <a class="link-add-item" href="#">
                <div class="img-title">Add to Cart</div>
                <div class="img-icon">
                  <span class="iconify" data-icon="mdi:cart" data-inline="false"></span>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="admin-box">

          <div class="button-group">
            <div>
              <form action="create.certificate.html">
                <button class="btn-edit" [routerLink]="['./edit']">Edit</button>
              </form>
            </div>
            <div>
              <form action="/">
                <button class="btn-delete" type="submit">Delete</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
