<div class="cell" @animationTriggerName *ngIf="certificate">
  <div class="card">
    <a class="img-card" [routerLink]="['./',certificate.id]">
      <span class="iconify" data-icon="mdi:certificate-outline" data-inline="false"></span>
    </a>
    <div class="item-info">
      <div class="top-row">
        <div class="item-name"> {{certificate.name}} </div>
        <div class="wish-list">
          <button mat-icon-button (click)="changeIcon(hasFavorite)">
            <mat-icon *ngIf="hasFavorite">favorite</mat-icon>
            <mat-icon *ngIf="!hasFavorite">favorite_border</mat-icon>
          </button>
        </div>
      </div>
      <div class="midle-row">
        <div class="item-tag-name"> {{tagsName | join}} </div>
        <div class="item-extra-info"> {{certificate.durationDays.toLowerCase().replace('_', ' ')}} </div>
      </div>
      <div class="botton-row">
        <div class="item-price">{{certificate.price | currency : 'USD'}}</div>
        <div class="btn-add-cart" *ngIf="isAuthUser">
          <button mat-raised-button (click)="addToOrder(certificate)">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
